@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Sedgwick+Ave+Display&display=swap');


  .background {
    position: fixed;
    /* Changed to fixed for a more stable background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Adjusted z-index to -1 for better layering */
    object-fit: cover;
  }

.main_div {
  font-family: "Sedgwick Ave Display", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  width: 700px;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 50px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.youtube,
.instagram {
  height: 16rem;
  width: 380px;
  margin: 50px;
  border-radius: 30px;
}

.youtube img,
.instagram img {
  border: 2px solid white;
  height: 16rem;
  width: 100%;
  border-radius: 24px;
  -o-object-fit: cover;
  object-fit: cover;
}

.img_text {
  z-index: 2;
}

.profile {
  border: 2px solid white;
  border-radius: 50% 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_accounts {
  display: flex;
  justify-content: center;
  align-items: center;
}

#imagePreview {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}



/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


/* 
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Coiny&family=Jost&family=Niconne&family=Oswald&family=Playfair+Display&family=Poppins:wght@400;600&family=Quicksand:wght@300&display=swap'); */

/* 
* {
  font-family: "Anton", sans-serif;
} */

.main-box-container {
  width: 400px;
  height: 500px;
  min-height: 380px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin: 10px 0;
}


.cardImg {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  transition-duration: 500ms;
  top: 0;
  left: 0;
  z-index: -4;
}


.box-container:hover img {
  opacity: 0;
  width: 400%;
  height: 400%;

}


.box-container {
  position: relative;
  z-index: 11;
  padding: 20px;
  width: 290px;
  height: 390px;
  background: #565656;
  background-size: cover;
  padding: 20px;
  border-radius: 20px;
  transition-duration: 500ms;
  overflow: hidden;
  box-shadow: 10px 10px 10px 7px black;

}

.box-container:hover {

  background-size: 1500px;

}

.box-container p {
  transform: translate(500px, 0px);
  transition-duration: 700ms;
  color: #ffff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.box-container:hover {
  scale: 1.05;
}

.box-container:hover p {
  transform: translate(0px, 0px);

}

h6 {
  display: inline-block;
  background: #fff;
  margin: 10px 0px;
  z-index: 11;
  font-size: 18px;
  padding: 10px 30px;
  transform: translate(0px, 300px);
  transition-duration: 500ms;
}

.box-container:hover h6 {
  transform: translate(0px, 0px);
}